/*  kolory na chwile */
body
{
    background-color: #918c8c;
    
    margin: 0 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo 
{
    background-color: #c02525;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    padding: 10px 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
   
    
}


#nav 
{
    background-color: rgb(226, 202, 62);
    width: auto;
    height: 50px;
    font-size: 22px;
    line-height: 50px;
    text-align:center;
    align-items: center;


    
}
ol 
{
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    width:auto;
    
    
}


li 
{
    float: left;
    display: block;
    width: 150px;
    border-right: 1px solid #404040;
}

li:hover
{
    background-color: #c02525;
}

a
{
    text-decoration: none;
    color: whitesmoke;
}



    


#content 
{
    background-color: rgb(101, 192, 235);
    padding: 10px;
    color:darkred;
    
    
}

#footer 
{
    background-color: rgb(62, 73, 73);
    color: black;
    padding: 10px;
    text-align:center;
}

#container
{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}