/*  kolory na chwile */
body
{
    background-color: #f7f4f4;
    
    margin: 0 !important;
    font-family: system-ui,Verdana, Geneva, Tahoma, sans-serif;
}

.logo 
{
    
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    padding: 10px 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
}


.nav 
{
    background-color: rgb(17, 15, 1);
    width: auto;
    height: auto;
    font-size: 20px;
    line-height: 50px;
    text-align:center;
    margin: 0;
    
    
    
    
}

ol 
{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width:auto;
    
    
    
}


li 
{
    float: left;
    display: block;
    width: 150px;
    border-right: 1px solid #404040;
    border-left: 1px solid #404040;
    border-radius: 20px;
}

li:hover
{
    background-color: #c02525;
}

a
{
    text-decoration: none;
    color: whitesmoke;
}



    


#content 
{
    height: 600px;
    width: auto;
    background-color: #f7f1f1;
    padding-top: 100px;
    padding-bottom: 100px;
    color:rgb(247, 241, 241);
    text-justify: auto;
    /*to wszystko pozycja obrazka na zmieniajacej sie wymiarem stronie*/
    background-image: url("img/audiHD.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*sposob na przyciemnienie obrazka, jesli napis nieczytelny, pod warunkiem odpowiedniego background-color pod background*/
    background-blend-mode: multiply; 
   
}


    

h1 
{
    text-align: center;
}

.footer 
{
    
    color: black;
    padding: 50px;
    text-align:center;
}

#description 
{
    padding: 10px;
    font-size: 32px;
    float:left;
    width: auto;
    height: 50%;
    text-align: center;
    /*ramka(border)*/
    border: 2px solid rgb(243, 237, 237);
    border-radius: 20px;
    /*kolor w srodku ramki + opacity(przezroczystosc)*/
    background-color: rgba(4, 39, 63, 0.3)
} 

/*VERKAUF page*/

.verkauf 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: auto;
    max-width: 1000px;
    height: auto;
    border: 2px solid rgb(255, 9, 9);
    padding: 20px;
    
    
}

.ad 
{
    
    
    float:left;
    height: 240px;
    width: 320px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 5px;
    
   
    
    
    
    
    
    
}

img 
{
    width: 100%;
    height: 100%;
    
}
    
